################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/publish/ComercialWeb/work
/src/backend/Comercial.Api/work
